.login-form {
    min-width: 500px;
  }

  .login-form-forgot {
    float: right;
  }
  
  .login-form-button {
    width: 100%;
  }

  .form{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
  }