.register-form {
    min-width: 500px;
  }

  .register-btn {
    width: 100%;
  }

  .register{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
  }

  .title{
    margin: 10px;
    text-align: center;
  }
  