.register-form {
    min-width: 600px;
  }

  .register-btn {
    width: 100%;
  }

  .register{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
  }

  .title{
    margin: 10px;
    text-align: center;
  }

  .ant-btn, .ant-btn:active, .ant-btn:focus{
    width: 100%;
  }

  .ant-col-sm-offset-8 {
    margin-left: 0
  }

  .ant-col-sm-16 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
  }
  